nav{
    display: inline;
    float: right;
    color: #fff;
}
ul {
    list-style: none;
    display: flex;

}
nav ul li {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 300;

}
nav ul li a:link, nav ul li a:visited{
    text-decoration: none;
    color: #0763E3;
    transition: 1s;
}
nav ul li a:hover{
    text-shadow: 0.5px 0.5px #232323;
    opacity: 20%;
    color: #232323;
}
#mylogo{
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;

}
/* #profileimage {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    position: relative; */

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 500;
    padding: 1em;
     
}

.skills {
    list-style-type: none;
   
}
.caption{
    text-align: center;
}
img{
    max-width: 100%;
}
ol li.skills{
    float: left;
    width: 45%;
    margin: 2.5%;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
    line-height: 1.25em;
    background-color: #1190cb;
    color: #d8d9d8;
    clear: both;
    width: 100%;
    bottom: 0;
    
}
#footertext {
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic; 
    color: #d8d9d8;
}
.footerlogo {
    height: 30px;
    width: 30px;

}
/************
PAGE:ABOUT
*************/
#aboutimage{
    display: block;
    max-width: 250px;
    margin: 0 auto 30px;
    border-radius: 100%;
}
#about{
    padding: 2em 0;
    font-size: 1.5em;
}

/************
PAGE:BLOG
*************/
#blogtext{
    font-style: italic;
    font-weight: 600;
    font-size: 5em;
}




/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #0728D9; }
.My-Color-Theme-2-hex { color: #0763E3; }
.My-Color-Theme-3-hex { color: #1190CB; }
.My-Color-Theme-4-hex { color: #07D7E3; }
.My-Color-Theme-5-hex { color: #07D9A9; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(7, 40, 217, 1); }
.My-Color-Theme-2-rgba { color: rgba(7, 99, 227, 1); }
.My-Color-Theme-3-rgba { color: rgba(17, 144, 203, 1); }
.My-Color-Theme-4-rgba { color: rgba(7, 215, 227, 1); }
.My-Color-Theme-5-rgba { color: rgba(7, 217, 169, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(230, 93, 43, 1); }
.My-Color-Theme-2-hsla { color: hsla(214, 94, 45, 1); }
.My-Color-Theme-3-hsla { color: hsla(199, 84, 43, 1); }
.My-Color-Theme-4-hsla { color: hsla(183, 94, 45, 1); }
.My-Color-Theme-5-hsla { color: hsla(166, 93, 43, 1); } */
